
* {
	margin:0;
	padding:0;
}
body, html
{
 font-family:Roboto,sans-serif, bold;
 color:#333;
 padding:0;
 margin:0;
 /*background-color:#006f94;*/
 touch-action:manipulation;
 }
 .heading{
 	 text-align: center;
    color: rgb(44, 44, 84);
    font-size: 76px;
    font-weight: bold; 
 }

 .madeby{
 	 color: rgb(77, 77, 128);
    font-size: 26px;
    text-align: center;
    margin-top: 15px;
    font-family: Oswald, sans-serif;
 }
 .madeby img {
 	 width: 30px;
 }

 #stickyy
 {
	position: fixed;
	position: -webkit-sticky;
    bottom: 20%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 28px;
    transform: translateY(-50%);
    color: white;
    z-index: 3;
    font-family: Roboto, sans-serif;
    opacity: 1;
    border-bottom: 1px dashed #0000002e;
    transition: opacity 0.3s ease-in-out 0s;
}

.wave {

    position: relative;
    z-index: 999;
    bottom: 10px;

}
 

/*.category,
.title,
.stickyy
{
  position: -webkit-sticky; 
  position: sticky;
  height: 50px;
  
}
*/

section {
position: relative;
width: 100%;
height: 100vh;
background-image: linear-gradient(#1fc8db, #f1f1f1);

}
 section .sec1{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(wave.png);
	background-size: 1400px 100px;
	
}
section .sec1.wave1 {

animation: animate 30s linear infinite;
z-index: 1000;
opacity: 1;
animation-delay: 0s;
bottom: 0;
}
section .sec1.wave2 {

animation: animate2 15s linear infinite;
z-index: 999;
opacity: 0.5;
animation-delay: -5s;
bottom: 10;
}
section .sec1.wave3 {

animation: animate 30s linear infinite;
z-index: 998;
opacity: 0.2;
animation-delay: -2s;
bottom: 15;
}
section .sec1.wave4 {

animation: animate2 5s linear infinite;
z-index: 997;
opacity: 0.7;
animation-delay: -5s;
bottom: 20px;
}
@keyframes animate {

	0%{
		background-position-x: 0; 
	}
	100%{
		background-position-x: 1000px; 
	}
}
@keyframes animate2 {

	0%{
		background-position-x: 0; 
	}
	100%{
		background-position-x: -1000px; 
	}
}

 

.title {
  top: 0;
}

.footer {
  bottom: 100px;
  z-index: -1;
}

.deep {
	
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 500px;
	background-image: linear-gradient(#008fbb, #005f86);
	
}
.deep2 {
	
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 500px;
	background-image: linear-gradient(#005f86, #044965); 
	
}

.deep3 {
	
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 500px;
	background-image: linear-gradient(#044965, #012d40); #01161f
	
}

.deep4 {
	
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 500px;
	background-image: linear-gradient(#012d40, #01161f); 
	
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); 
  border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.grid-text {
    font-size: 16px;
    margin-top: 5px;
    color: rgb(247, 241, 227);
    font-weight: lighter;
    opacity: 0.9;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

 .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animatebuble 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animatebuble {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 100%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}